@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #020f18;
  --primbuttn: #ee9e59;
  --accent: #59ee9e;
}

body {
  background: #2d3250;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 16s linear infinite;
}

h1 {
  background: linear-gradient(120deg, var(--primbuttn), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue-rotate 8s linear infinite;
}